html {
  font-size: 20px;
}

body {

}


h1, .h1 { font-size: 3rem; }

h2, .h2 { font-size: 1.6rem; }

h3, .h3 { font-size: 1.3rem; }

h4, .h4 { font-size: 1.1rem; }

h5, .h5 { font-size: 1rem; }

h6, .h6 { font-size: .8rem; }


h1, h2, h3, h4, h5, h6 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

h1 {
  text-align: center;
  background: linear-gradient(135deg, #03e319 0%, #00f9ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

h2::before {
  content: "---» ";
}
h2::after {
  content: " «---";
}

h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}
h3 {
  text-align: center;
  text-transform: lowercase;
}

a {
  color: #03e319;
}

a:focus, a:hover, a:active, a.active {
  color: #4be303;
  -webkit-transition: color 200ms ease-in-out;
  -moz-transition: color 200ms ease-in-out;
  -ms-transition: color 200ms ease-in-out;
  -o-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

a:visited {
  color: #07cb1a;
  -webkit-transition: color 200ms ease-in-out;
-moz-transition: color 200ms ease-in-out;
-ms-transition: color 200ms ease-in-out;
-o-transition: color 200ms ease-in-out;
transition: color 200ms ease-in-out;
}

.treemenu li a:hover, .treemenu li a:focus, .treemenu li a.active {
  color: #03e319 !important;
  text-decoration: none;
}

.mobile-menu .button_container span {
  background: #03e319;
  background: linear-gradient(135deg, #03e319 0%, #00f9ff 100%);
  border: none; height: 4px; width: 100%; position: absolute; top: 0; left: 0; transition: all .35s ease; cursor: pointer;
}

.dropmenu ul li a:hover, .dropmenu ul li a:focus, .dropmenu ul li a.active {
  color: #03e319 !important;
}

#body-wrapper .container {
  padding: 1em 0 2rem;
}

.chipXL { -ms-flex-align: center; align-items: center; background: #f0f1f4; border-radius: 5rem; display: -ms-inline-flexbox; display: inline-flex; font-size: 110%; height: 1.2rem; line-height: 1rem; margin: 0.2rem; max-width: 400px; overflow: hidden; padding: 0.6rem 1.2rem; text-decoration: none; text-overflow: ellipsis; vertical-align: middle; white-space: nowrap; }

.chipXL.active { background: #03e319; color: #fff; }

.card {
  margin-bottom: 0.5rem;
}

#header {
  border-bottom: 0px solid rgba($gray-color, 0.2);
}

#navigation a.github-link {
    font-size: inherit!important;
    display: -ms-flexbox;
    display: flex;
    padding: 0 1rem;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

#navigation a.github-link i {
    padding-right: 5px;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 ForkAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa-pencil-square:before {
    content: "\f14b";
}

.fa-pencil-square:before {
    content: "\f14b";
}

.bg-warning-light { background: #fcf8f2  }

.bg-osc {
  /*background: #000 !important; color: #fff;*/
  /* The image used */
  background-image: url("osc.gif");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero h1 { color: #fff; font-size: 4rem; }

.hero h2 { color: #fff); font-size: 2.5rem; }

.card-body a {
  text-decoration: none;
}

.card:hover{
  background: linear-gradient(rgba(245, 233, 173, 0.1), rgba(200, 90, 90, 0.2));
  box-shadow: 0 5px 15px rgba(180, 80, 80, 0.3);
  opacity: 0.3;
}

@media screen and (min-width: 480px) {
  html {
    font-size: calc(20px + 4 * ((100vw - 480px) / 800));
    }
  }

@media screen and (min-width: 1280px) { html { font-size: 24px; } }

@media screen and (max-width: 480px) {
  h2::before {
    content: "» ";
    }
  h2::after {
    content: " «";
    }
  }
