html { font-size: 20px; }

@media screen and (min-width: 480px) { html { font-size: calc(20px + 4 * ((100vw - 480px) / 800)); } }

@media screen and (min-width: 1280px) { html { font-size: 24px; } }

h1, .h1 { font-size: 3rem; }

h2, .h2 { font-size: 1.8rem; }

h3, .h3 { font-size: 1.4rem; }

h4, .h4 { font-size: 1.2rem; }

h5, .h5 { font-size: 1rem; }

h6, .h6 { font-size: .8rem; }


h1, h2, h3, h4, h5, h6 {
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
}

h1 {
  text-align: center;
  background: linear-gradient(135deg, #03e319 0%, #00f9ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
h2 {
  text-align: center;
  text-transform: lowercase;
  font-weight: 700;
}
h3 {
  text-align: center;
  text-transform: lowercase;
}

a {
  color: #03e319;
}

a:focus, a:hover, a:active, a.active {
  color: #4be303;
}

a:visited {
  color: #07cb1a;
}

.treemenu li a:hover, .treemenu li a:focus, .treemenu li a.active {
  color: #03e319 !important;
  text-decoration: none;
}

.mobile-menu .button_container span {
  background: #03e319;
  background: linear-gradient(135deg, #03e319 0%, #00f9ff 100%);
  border: none; height: 4px; width: 100%; position: absolute; top: 0; left: 0; transition: all .35s ease; cursor: pointer;
}

.dropmenu ul li a:hover, .dropmenu ul li a:focus, .dropmenu ul li a.active {
  color: #03e319 !important;
}

#body-wrapper .container {
  padding: 1em 0 2rem;
}

.chipXL { -ms-flex-align: center; align-items: center; background: #f0f1f4; border-radius: 5rem; display: -ms-inline-flexbox; display: inline-flex; font-size: 110%; height: 1.2rem; line-height: 1rem; margin: 0.2rem; max-width: 400px; overflow: hidden; padding: 0.6rem 1.2rem; text-decoration: none; text-overflow: ellipsis; vertical-align: middle; white-space: nowrap; }

.chipXL.active { background: #03e319; color: #fff; }

.chipXL .avatar { margin-left: -0.4rem; margin-right: 0.2rem; }

.chipXL .btn-clear { border-radius: 50%; transform: scale(0.75); }
