<section id="footer" class="section bg-gray">
    <section class="container {{ grid_size }}">
        <p>
        <a href="https://schoolofartsgent.be/" target="_blanc"><img src="{{ url('theme://images/kasklogos.png') }}" alt="" width="100" /></a>
        <sup><a href="http://getgrav.org">Grav</a> was <i class="fa fa-code"></i> with <i class="fa fa-heart-o pulse "></i> by <a href="https://trilby.media">Trilby Media</a></sup>
        </p>
    </section>
</section>
