{% import 'macros/macros.html.twig' as macros %}

<ul {{ tree ? 'class="tree"' : '' }}>
    {{ macros.nav_loop(pages) }}
    <!--li><a class="github-link tooltip tooltip-bottom" href="https://github.com/hendrikleper/MK_site_intern/tree/main/pages" data-tooltip="Edit this page on GitHub"><i class="fa fa-pencil-square"></i> Edit</a></li-->
</ul>
